footer{
    width: 100%;
    height: 12vh;

    position: relative;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.8);
}

footer .copyright{
    font-size: 2vh;
    color: seashell;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
}

footer .copyright h3{
    padding-top: 5px;
    flex-wrap: wrap;
    text-align: center;
}

footer .copyright address{
    padding-top: 5px;
    flex-wrap: wrap;
    text-align: center;
}